spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/content_management
    username: user
    password: password
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
