spring:
  profiles:
    active: local
  docker:
    compose:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
  datasource:
    driver-class-name: org.postgresql.Driver

server:
  port: 8080
  error:
    include-stacktrace: never
    include-message: always

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
    com.leman.contentmanagementapi: DEBUG
